<a href="https://colab.research.google.com/github/GabreioAPI/-DS-Google-Colab/blob/main/%5BDS%5D_Aula01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [6]:
dataset = r'https://raw.githubusercontent.com/rafaelpuyau/infinity_school/main/ds/datasets/wine_billing.csv'
df = pd.read_csv(dataset, sep=';')

In [ ]:
df.head()

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   data                    45 non-null     object
 1   estilo                  45 non-null     object
 2   quantidade de garrafas  45 non-null     int8
 3   preço da garrafa        45 non-null     float32
dtypes: float32(1), int8(1), object(2)
memory usage: 1.0+ KB

In [ ]:
df.columns

In [20]:
df['preço da garrafa'] = pd.to_numeric(df['preço da garrafa'],downcast = 'float')
df['quantidade de garrafas'] = pd.to_numeric(df['quantidade de garrafas'],downcast = 'integer')

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df['estilo'].describe()

In [ ]:
df.shape

In [ ]:
df.columns[2]

In [ ]:
df['quantidade de garrafas'].head()

In [74]:
arquivo_fat = r'https://raw.githubusercontent.com/rafaelpuyau/infinity_school/main/ds/datasets/wine_billing.csv'
df2 = pd.read_csv(arquivo_fat, sep=';', parse_dates=['data'])

In [78]:
df2.head()
df2['preço da garrafa'] = pd.to_numeric(df['preço da garrafa'],downcast = 'float')
df2['quantidade de garrafas'] = pd.to_numeric(df['quantidade de garrafas'],downcast = 'integer')

In [80]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   data                    45 non-null     datetime64[ns]
 1   estilo                  45 non-null     object
 2   quantidade de garrafas  45 non-null     int8
 3   preço da garrafa        45 non-null     float32
dtypes: datetime64[ns](1), float32(1), int8(1), object(1)
memory usage: 1.0+ KB

In [ ]:
df2.describe()